<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>礼游送好礼</title>
    <link rel="stylesheet" href="/static/css/celebrity.min.css">
</head>
<body>
    <div id="wrap_popup">
        <div id="popup_gift">
            <div class="popup" style="padding:0 0 20px;background: #ebf6f7;">
                <div class="head">
                    <h4>活动奖品 · 规则</h4>
                    <a href="/home/index" class="btn-close-wrap">
                        <span class="s btn-close"></span>
                    </a>
                </div>
                <div class="body" style="padding:40px 20px 0;">
                    <h1 class="rule-title">寻找大礼游家</h1>
                    <div class="content">在我们各个城市活跃着一群热情好客、积极乐观的群体，他们热爱生活，善于发现美好，他们阅历丰富，乐于分享精彩，大礼游家，我们期待你的加入～</div>
                    <div class="wrap-rule">
                        <h5>活动时间：</h5>
                        <p>2018.5.1 ~ 2018.5.15</p>
                    </div>
                    <div class="wrap-rule">
                        <h5>内容规则：</h5>
                        <p>1、礼游家分享、推荐旅游地或家乡的特色礼品、食品、手工艺品等，通过微信“参与活动”上传相关图文作品。</p>
                        <p>2、文章审核通过后，可邀请好友投票，活动将根据最终排名结果发放奖励。</p>
                        <p>3、每名用户每天仅有1次投票机会。</p>
                        <p>4、本活动只针对公众号粉丝开放，用户需关注公众号后才能参与活动。严禁外挂刷票，违规者将被取消资格。</p>
                        <p>5、活动根据作品票数排名发放奖励，获奖名单将于活动结束后3个工作日内公布，奖品将于活动结束后15日内发放。</p>
                    </div>
                    <div class="wrap-rule">
                        <h5>活动奖励：</h5>
                        <p><span>大礼游家：</span>1名，价值300元礼游金</p>
                        <p><span>礼游家：</span>5名，价值100元礼品</p>
                        <p><span>见习礼游家：</span>10名，价值50元礼品</p>
                        <p><span>小幸运：</span>作品排名尾数逢8的均可获取幸运小礼品（奖品不能重复获得）</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
