<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>礼游送好礼</title>>
    <link rel="stylesheet" href="/static/css/celebrity.min.css">
</head>
<body>

    <div class="popup">
        <div class="head">
            <h4>参与活动</h4><a href="/home/index" class="btn-close-wrap js-close-popup"><span class="s btn-close"></span></a></div>
        <div class="body">
            <!-- <div class="s step s-step-1" style="margin:20px auto 10px auto"></div> -->
            <div id="file_upload_1" class="file-wrap state-start">
                <form action="#" id="submitForm" enctype="multipart/form-data">
                    <div class="require-fields">
                        <div class="title-container">
                            <div class="title">礼品特产</div>
                            <input id="title" maxlength="30" class="ipt" name="title" value="{{detailInfo.article.title}}"/>
                        </div>
                        {% if modify %}
                            <input id="title" maxlength="30" class="ipt" style="display: none;" name="id" value="{{detailInfo.article.id}}"/>
                            {% for content in detailInfo.article.content %}
                            {% set contentIndex = loop.index0 %}
                                <div class="images-text-block">
                                    <div class="title">活动图文</div>
                                    <div class="images">
                                        {% for img in content.pics %}
                                        <div class="switch-start" data-index="{{contentIndex}}">
                                            <input class="img-input" name="content[{{contentIndex}}][pics[]]" type="text" value="{{img}}" accept="image/*" />
                                            <img class="uploader-cover" alt="" src="{{img}}" />
                                            <div class="delete-wraper">
                                                <span class="delete-btn">×</span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="switch-start" data-index="{{contentIndex}}">
                                                <input class="img-input" name="content[{{contentIndex}}][pics[]]" type="file" accept="image/*" />
                                                <a class="main">点击添加图片</a>
                                                <img class="uploader-cover" alt="" />
                                                <div class="delete-wraper none">
                                                    <span class="delete-btn">×</span>
                                                </div>
                                                <!-- <p class="info">支持单张4M以内图片上传</p> -->
                                        </div>
                                    </div>
                                    <div class="img-desc-wrapper">
                                        <textarea name="content[{{contentIndex}}][desc]" placeholder="东西这么好，说点什么吧..." class="img-desc" cols="30" rows="10">{{content.desc}}</textarea>
                                    </div>
                                    <div class="opts">
                                        <button class="opt-btn add-item-btn">插入图文</button>
                                        {% if loop.first == false %}
                                        <button class="opt-btn delete-item-btn">删除</button>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="images-text-block">
                                <div class="title">活动图文</div>
                                <div class="images">
                                    <div class="switch-start" data-index="0">
                                        <input class="img-input" name="content[0][pics[]]" type="file" accept="image/*" />
                                        <a class="main">点击添加图片</a>
                                        <img class="uploader-cover" alt="" />
                                        <div class="uploading-icon not-visibility"></div>
                                        <div class="delete-wraper none">
                                            <span class="delete-btn">×</span>
                                        </div>
                                        <!-- <p class="info">支持单张4M以内图片上传</p> -->
                                    </div>
                                </div>
                                <div class="img-desc-wrapper">
                                    <textarea name="content[0][desc]" placeholder="东西这么好，说点什么吧..." class="img-desc" cols="30" rows="10"></textarea>
                                </div>
                                <div class="opts">
                                    <button class="opt-btn add-item-btn">插入图文</button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="not-required-fields" style="display: none;">
                        <div class="other-info-container">
                            <div class="title">推荐人群</div>
                            <input id="crowd" maxlength="30" class="ipt" name="crowd" value="{{detailInfo.article.crowd}}"/>
                        </div>
                        <div class="other-info-container">
                            <div class="title">推荐场景</div>
                            <input id="scene" maxlength="30" class="ipt" name="scene" value="{{detailInfo.article.scene}}" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="rule">
                <h5>注意事项：</h5>
                <p>1、请老师们务必在安全的环境下进行拍摄；</p>
                <p>2、照片确认上传后就不能进行更换；</p>
                <p>3、活动奖品将在活动结束后陆续发放，请获奖班级耐心等候；</p>
                <p>4、活动最终解释权归幼信通所有。</p>
            </div>
        </div>
        <div class="step-btns">
                <a href="#" id="back" style="display: none;" class="btn">上一步</a>
                <a href="#" id="next" class="btn">下一步</a>
                <a href="#" id="submit" style="display: none;" class="btn">提交</a>
            <!-- <div class="pfooter"></div>
            <div class="pfooter"></div> -->
        </div>
    </div>

    <script src="/static/js/zepto.js"></script>
    <script src="/static/js/jquery.serializejson.min.js"></script>
   <!--  <script src="/static/js/jweixin-1.js"></script> -->
    <script src="/static/js/lrz/lrz.bundle.js"></script>
    <script >
        $(function(){
            var formdata = new FormData();
            var imgTextCount = '{{detailInfo.article.content.length}}' || 0;
            function getNewUploader(index){
                return '<div class="switch-start" data-index="'+index+'">'
                + '<input class="img-input" name="content['+index+'][pics[]]" type="file" accept="image/*"><a class="main">点击添加图片</a>'
                + '<img class="uploader-cover" alt="" /><div class="uploading-icon not-visibility"></div><div class="delete-wraper none">'
                + '<span class="delete-btn">×</span></div></div>';
            }
            function getNewImageTextBlock(imgTextNum){
                return '<div class="images-text-block"><div class="title">活动图文</div>'
                + '<div class="images"><div class="switch-start" data-index="'+imgTextNum+'">'
                + '<input class="img-input" name="content['+imgTextNum+'][pics[]]" type="file" accept="image/*" />'
                + '<a class="main">点击添加图片</a><img class="uploader-cover" alt="" />'
                + '<div class="delete-wraper none"><span class="delete-btn">×</span></div></div></div>'
                + '<div class="img-desc-wrapper">'
                + '<textarea name="content['+imgTextNum+'][desc]" placeholder="东西这么好，说点什么吧..." class="img-desc" cols="30" rows="10"></textarea>'
                + '</div><div class="opts"><button class="opt-btn add-item-btn">插入图文</button><button class="opt-btn delete-item-btn">删除</button></div>';
            }
            function changeUploadState($obj, imgPath){
                //修改背景
                $obj.find('.uploader-cover').attr('src', imgPath);
                $obj.find('.delete-wraper').removeClass('none');
                //将文件上传input替换成为文本input
                var $input = $obj.find('input');
                $input.attr('type', 'text');
                $input.val(imgPath);
                $obj.find('.main').hide();
                var uploaderNum = $obj.parent().find('.switch-start').length;
                if(uploaderNum < 9) {
                    $(getNewUploader($obj.data('index'))).insertAfter($obj);
                }
            }
            function submit() {
                var param = $('#submitForm').serializeJSON();
                if(param.title == '') {
                    alert('请填写礼品特产名称');
                    return;
                }
                var isContentImgEmpty = false;
                for(prop in param.content){
                    if(!param.content[prop].pics || param.content[prop].pics.length == 0) {
                        isContentImgEmpty = true;
                    }
                }
                if(isContentImgEmpty) {
                    alert('图文中请至少选择一张图片');
                    return;
                }
                
                window.fetch('/home/index/addorupdateproduct',{
                    method: 'post',
                    headers: {
                        'content-type': 'application/json'
                    },
                    credentials: 'include',
                    body: JSON.stringify(param),
                }).then(function(res){
                    window.location.href = "/home/index/myproducts";
                })
            }
            function uploadImg(formdata, $container){
                $container.find('.main').addClass('not-visibility');
                $container.find('.uploading-icon').removeClass('not-visibility');
                window.fetch('/home/index/uploadimg',{
                    method: 'post',
                    body: formdata,
                    credentials: 'include',
                }).then(function(res){
                    return res.json();
                }).then(function(res){
                    $container.find('.main').removeClass('not-visibility');
                    $container.find('.uploading-icon').addClass('not-visibility');
                    changeUploadState($container, res.data);
                }).catch(function(e){
                    $container.find('.main').removeClass('not-visibility');
                    $container.find('.uploading-icon').addClass('not-visibility');
                    console.log(e);
                });
            }
            $('#file_upload_1').on('change', '.img-input', function(e){
                var self = $(this);
                var file = self.get(0).files[0];
                lrz(file,{ width: 1024, fileName: 'img'})
                .then(function (rst) {
                    // 处理成功会执行
                    /* console.log(rst); */
                    var formdata = new FormData();
                    formdata.append('imgUrl', rst.base64);
                    uploadImg(formdata, self.parents('.switch-start'));
                })
                .catch(function (err) {
                   /*  alert('图片上传失败'); */
                })
                .always(function () {
                    // 不管是成功失败，都会执行
                });
            });
            $('#next').on('click', function(){
                $('.require-fields').hide();
                $('.not-required-fields').show();
                $('#back').show();
                $('#next').hide();
                $('#submit').show();
            });
            $('#back').on('click', function(){
                $('.require-fields').show();
                $('.not-required-fields').hide();
                $('#back').hide();
                $('#next').show();
                $('#submit').hide();
            });
            $('#submit').on('click', function(){
                confirm('确定提交吗？') && submit();
            });
            $('#file_upload_1').on('click', '.delete-item-btn', function(e){
                e.preventDefault();
                $(this).parents('.images-text-block').remove();
            });
            $('#file_upload_1').on('click', '.add-item-btn', function(e){
                e.preventDefault();
                $(getNewImageTextBlock(++imgTextCount)).insertAfter($(this).parents('.images-text-block'));
            });
            $('#file_upload_1').on('click', '.delete-wraper', function(e){
                e.preventDefault();
                $(this).parents('.switch-start').remove();
            });
        });
    </script>
</body>

</html>
