<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>礼游送好礼</title>
    <link rel="stylesheet" href="/static/css/celebrity.min.css">
</head>
<body>
    <div id="wrap_popup">
        <div id="popup_rule">
            <div class="popup">
                <div class="head">
                    <h4>最萌班级合照秀 · 活动规则</h4>
                    <a href="/home/index" class="btn-close-wrap">
                        <span class="s btn-close"></span></a>
                </div>
                <div class="body" style="padding:0 20px;">
                    <div class="wrap-rule">
                        <h5>活动规则：</h5>
                        <p>1、公众号粉丝可上传家乡或旅游地的特产礼品图文信息；</p>
                        <p>2、规定时间内按获得票数高低排行给予奖励；</p>
                        <p>3、每名用户每天仅可投一票；</p>
                        <p>4、奖品将在活动结束后10个工作日内发放；</p>
                        <p>4、严禁外挂刷票，违规者将被取消参赛资格；</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/zepto.js"></script>
    <!-- <script src="/static/js/jweixin-1.js"></script> -->
    <script src="/static/js/celebrity.js"></script>
</body>

</html>
