{% block list %}
<div class="hottest-wrap" id="dataList">
    <div class="inner">
        <div class="main-title s"></div>
        <ul id="hottest_headlist" class="headlist">
            <li class="first">
                <a href="/home/index/vote?id=1" class="js-vote">
                    <div class="clearfix">
                        <div class="head-wrap">
                            <div class="head" style="background-image:url(/static/img/640.jpg)"></div>
                        </div>
                        <div class="interactive">
                            <p class="title" style="font-size:20px;padding:25px 0 25px">小三班</p>
                            <p class="count">
                                <em>426</em> 票</p>
                        </div>
                    </div>
                    <div class="s decorative"></div>
                </a>
            </li>
            <li class="normal">
                <a href="/home/index/vote?id=2" class="js-vote">
                    <div class="clearfix">
                        <div class="head-wrap">
                            <div class="head" style="background-image:url(/static/img/641.jpg)"></div>
                        </div>
                        <div class="interactive">
                            <p class="title">大二班</p>
                            <p class="count">
                                <em>487</em> 票</p>
                        </div>
                    </div>
                    <div class="s decorative"></div>
                </a>
            </li>
        </ul>
        <!-- <div id="loading_stat" class="loading-wrap">
            <div class="loading">加载中</div>
        </div> -->
    </div>
</div>
{% endblock %}